
 
 <div class="container-fluid">
    <div class="row-fluid">
		  <div class="span2">
			<!--Sidebar content-->
			Search: <input type="text" ng-model="search.name">
<table>
    <tr ng-repeat="client in clients | filter: search">
        <td><a href="#/projects/{{client._id}}">{{ client.name }}</a></td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.origin }}</td>
      
    </tr>
  </table>
		  </div>
		  <div class="span10">
			<form name="myform" id="myform1" ng-submit="save()">
				<fieldset>
					<legend>New Client</legend>
					<div class="control-group">
						<center><input type="text" placeholder="Name..." ng-model="name" size=50 required/></center>
						<center><input type="text" placeholder="Email…" ng-model="email" size=50 required/></center>
						<center><input type="text" placeholder="Phone…" ng-model="phone" size=50 required/></center>
                        <center><input type="text" placeholder="Origin…" ng-model="origin" size=50 required/></center>
					</div>
				</fieldset>
				<p>
					<div><center><button type="submit" >Save now...</button></center></div>
				</p>
			</form>
		</div>
    </div>
  </div>
